@model YourDailyWord.Models.DailyDevotionIndexModel

<div class="body-content">
    <div class="description-content">
        <span>@Model.Description1</span>
    </div>
    <div class="description-content">
        <span>@Model.Description2</span>
    </div>
    <div class="description-content">
        <span>@Model.Description3</span>
    </div>
    <div class="description-content">
        <span>@Model.Description4</span>
    </div>
    <div class="description-content">
        <span>@Model.Description4</span>
    </div>

    <div class="description-content">
        <div class="verse-content-devotion">
            @Model.Verse
        </div>
        <div class="verse-heading">
            @Model.VerseTitle
        </div>
    </div>


</div>