@model YourDailyWord.Models.DailyDevotionIndexModel

<div class="body-content">
    
    <div class="body-content-flag">
        <img src="@Model.ImageURL" alt="@Model.Title" class="center"/>
    </div>

    <div class="description-title-devotion">
        <span>@Model.Title</span>
    </div>

    <div class="description-author">
        <span>by @Model.Author</span>
    </div>

    <div class="description-content-devotion">
        <span>@Model.Description1</span>
    </div>
    <div class="description-content-devotion">
        <span>@Model.Description2</span>
    </div>
    <div class="description-content-devotion">
        <span>@Model.Description3</span>
    </div>
    <div class="description-content-devotion">
        <span>@Model.Description4</span>
    </div>

    <div class="description-content">
        <div class="verse-container">
            <div class="verse-content-devotion">
                @Model.Verse
            </div>
            <div class="verse-content-heading">
                @Model.VerseTitle
            </div>
        </div>
    </div>

    <div class="clr"></div>

</div>
